<header class="print:hidden flex flex-row justify-center w-full h-[80px] bg-[#0a0d29] backdrop-blur md:px-2">
  <div class="container flex items-center justify-between">
    <a routerLink="/" class="h-full"><img class="h-full p-2" src="logo.png" alt="Logo LINEART"></a>

    <nav class="flex items-center gap-4 pr-2 text-sm font-semibold text-slate-100">
      <a routerLink="/" fragment="sobre" class="hover:text-primary-100">Sobre</a>
      <a routerLink="/publicacoes" routerLinkActive="text-primary-100" class="hover:text-primary-100">Publicações</a>
      <a routerLink="/" fragment="contato" class="hover:text-primary-100">Contato</a>
    </nav>
  </div>
</header>
