<footer class="print:hidden flex flex-row justify-center w-full min-h-[100px] h-[100px] bg-black">
  <div class="container">
    <div class="h-full  flex flex-row">
      <img class="h-full p-4" src="https://storage.capoeiralineart.com/lineart/logo/lineart.png" alt="Logo Lineart">

      <div class="flex flex-col font-inter p-4 text-gray-100 text-sm text-center md:text-start max-md:mb-6">
        <p>&copy; Lineart Capoeira Angola - 2025</p>
        <p>Todos os direitos reservados</p>
      </div>
    </div>
  </div>

</footer>
